p {
    text-align: justify;
    text-indent: 2em;
    line-height: 160%;
    font-family: "DK-SONGTI","宋体";
    margin-top: 0em;
    margin-bottom: 0em;
}

h2 {
    font-family: "DK-XIAOBIAOSONG";
    font-size: 2.5em;
    line-height: 1.5;
    margin: 32% auto auto auto;
    text-align: center;
    color: #ff3300;
    font-weight: none;
}

h3 {
    font-family: "DK-XIAOBIAOSONG";
    font-size: 1.3em;
    line-height: 1.2;
    margin: 3.3em auto 1.3em auto;
    text-align: center;
    color: #ff3300;
    font-weight: none;
}

h4 {
    font-family: "DK-XIHEITI",细黑体;
    font-size: 1.4em;
    line-height: 1.2;
    margin: 35% auto auto auto;
    text-align: center;
    color: #ff3300;
    font-weight: bold;
}

.juan {
    font-family: "DK-SONGTI";
    font-size: 1.8em;
    margin-top: 0.8em;
    text-align: center;
    color: black;
    font-weight: bold;
}

.banben {
    font-family: "DK-XIHEITI",细黑体;
    color: #ff3300;
    text-indent: 0em;
}

.yinyong {
    margin-left: 4em;
    font-family: "DK-KAITI","楷体";
    color: #ff3300;
    text-indent: 0em;
}

.fangsong {
    font-family: "DK-FANGSONG",仿宋;
}

.zhufang {
    font-family: "DK-FANGSONG",仿宋;
    color: #e10413;
}

/* 注释 */ 
/* 图片样式 */ 
.duokan-footnote img {
    width: 0.8em;
    vertical-align: top;
}

/* 注释内容 */ 
.duokan-footnote-content {
    border: 1px dashed #66BBCC;
    margin: 1em 1em 0.5em 1em;
    padding: 5px !important;
    box-shadow: 0 0 1em #AAAAAA;
    clear: both;
}

/* 注释字体 */ 
.duokan-footnote-item {
    font-size: 0.9em;
    font-family: "DK-KAITI","楷体";
}

/* 注释内容链接 */ 
.duokan-footnote-item a {
    color: #000;
    text-decoration: none;
}

/* 注释 */