h1 {
  text-align: center;
/*注释：标题1居中对齐。center是居中对其，把这一行删掉就是左对齐，右对齐是right，左对齐是left*/
  margin-top: 40px;
/*注释：标题1上边距*/
  margin-bottom: 40px;
/*注释：标题1下边距*/
}

h2 {
  text-align: center;
/*注释：标题2居中*/
  margin-top: 35px;
/*注释：标题2上边距*/
  margin-bottom: 30px;
/*注释：标题2下边距*/
}

hr {
  margin-bottom: 40px;
/*注释：水平线的下边距*/
}

p {
  text-indent: 2em;
/*注释：首行缩进*/
  line-height: 130%;
/*注释：行距*/
  margin-top: 20px;
/*注释：上段距*/
  margin-bottom: 20px;
/*注释：下段距*/
}